/* This css is used to style to textViewer part of the Classification page. */

span.Cognition{
    background-color: #4286f4;
}
span.Performance{
    background-color: #ff9966;
}
span.Coordination{
    background-color: #cca610;
}
span.Management{
    background-color: #08b20e;
}
span.Control{
    background-color: #ed76b3;
}
span.Procedural&Team{
    background-color: #ed2d43;
}
span.Communication{
    background-color: #e0682c;
}
span.Information{
    background-color: #d0d831;
}
span.Planning{
    background-color: #12914f;
}
span.Resources{
    background-color: #34d3e5;
}
span.Team&Organization{
    background-color: #5c6de0;
}
span.Org-Coordination{
    background-color: #b047e5;
}
