{% extends "base.html" %} <!-- Jinja Template-Inheritance -->

{% block content %}

<!-- Custom CSS for this page -->
<link type="text/css" rel="stylesheet" href="../static/css/textViewer.css">


<center>
	<div class="card text-center text-dark bg-white mb-3" style="max-width: 19rem;">
	  <div class="card-header">How To?</div>
	  <div class="card-body">
	    <h5 class="card-title">Classify Errors</h5>
	    <p class="card-text">To get started, upload a text document and wait for a moment
	    while we process the results.</p>

	    <!-- This form will be used to submit the file to the server side Python script. -->
	    <form action="{{ url_for('classification_html') }}" method="POST" enctype="multipart/form-data">
		    <input type="file" name="fileInput" id="file-input" hidden="hidden"/>
	 	    <input type="button" id="browse" value="Browse" class="btn btn-dark btn-sm" style="margin-bottom: 0.4rem;"> <br>
		    <span id="file-text">
			    {% if message %}
			    	{{message}}
			    {% else %}
			    	No file chosen yet
			    {% endif %}
		    </span>	<br>
			<input type="submit" id="processButton" value="Process" class="btn btn-dark btn-sm" style="margin-top: 0.5rem;"> <br>
		</form>

	  </div>
	</div>
</center>

<br> <hr>


<!-- This part is used to display the results of error classification. -->
<div style="float: left; width:74%; padding:10px; height: 100vh; overflow: auto; background-color:#E3E6F7;">

	{% if data %}
		{% for dict in data['data'] %}
				{% for key, value in dict.items() %}
							<span class = {{ value.class }}> {{value.text}} </span>
				{% endfor %}
				<br/>
		{% endfor %}
	{% endif %}

</div>


<!-- This part is used to display the word cloud for the types of errors. -->
<div id="word-cloud" style="float:right; width: 25%; height: 100vh; background-color:#e3e6f7;">

		{% if data %}
	    <script>
	        var data = "{{data['classes']|safe}}"
	    </script>

			<!-- Custom javascript file required for the wordcloud section of this page.
		 			 The above defined 'data' var is used inside the wordcloud.js file. -->
			<script type="text/javascript" src="../static/js/wordcloud.js"> </script>

		{% endif %}

</div>


 <script type="text/javascript">

 	// This script is used to trigger the browse window function on browse button click.

	const hiddenButton = document.getElementById("file-input");
	const browseButton = document.getElementById("browse");
	const processButton = document.getElementById("processButton");
	const fileText = document.getElementById("file-text");

	// Disable the process button. Change its state only when a file is selected.
	processButton.disabled = true;

	browseButton.addEventListener("click", function() {
		hiddenButton.click();
	});

	// This function is used to display the selected file name.
	hiddenButton.addEventListener("change", function() {
		if (hiddenButton.value) {
			fileText.innerHTML = hiddenButton.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
			processButton.disabled = false;
		}
	});

</script>


{% endblock %}
