{% extends "base.html" %} <!-- Jinja Template Inheritance -->

{% block content %}
	<br><br><br><br>

			<center>

				<div>
					<input type="file" multiple="multiple" name="fileInput" id="QnA_files" hidden="hidden"/>
					<input type="button" id="browse" value="Choose files" class="btn btn-dark btn-sm">
					<span id="file-text" style="margin-left: 0.5rem;">
						 {% if message %}
							 {{message}}
						 {% else %}
							 No file chosen yet
						 {% endif %}
					 </span>
				 </div>

			<div>
			  <input class="form-control form-control-sm form-control-borderless" type="search"
							id="QnA_keywords" placeholder="Ask your question here!"
							style="min-width: 5rem; max-width: 40rem; min-height: 5rem; margin-right: 1rem; margin-left: 1rem; margin-top: 0.5rem;">
				<button class="btn btn-sm btn-dark" type="submit" id="get_response" style="margin-top: 0.5rem;">Ask!</button>
			</div>

	 </center>


	 <hr>
	 <div style="margin-left: 1rem; margin-right: 1rem;">
			Response:
  </div>

  <div>
    <div class="col-12" id="qna_answer" style="justify-content: right; height: 250px; overflow: scroll;"></div>
  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/async/2.6.2/async.min.js"></script>

	<!-- Custom Javascript -->
	<script type="text/javascript">

	 // This script is used to trigger the browse window function on browse button click.
	 const hiddenButton = document.getElementById("QnA_files");
	 const browseButton = document.getElementById("browse");
	 const fileText = document.getElementById("file-text");


	 browseButton.addEventListener("click", function() {
		 hiddenButton.click();
	 });

	 // This function is used to display the selected file name.
	 hiddenButton.addEventListener("change", function() {
		 if (hiddenButton.value) {
			 if (hiddenButton.files.length == 1) {
				 fileText.innerHTML = '1 file selected';
			 }
			 else
			 	 fileText.innerHTML = hiddenButton.files.length + ' files selected';
			 //processButton.disabled = false;
		 }
	 });
	</script>


	<script>

	    var request_array = [];

	    function uuidv4() {
	        return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
	            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
	        )
	    }

	    function add_script(src) {
	        var newScript = document.createElement("script");
	        newScript.src = src + '?uuid=' + uuidv4();
	        document.getElementsByTagName('script')[0].parentNode.appendChild(newScript)
	    }

	    var scripts = ['../static/js/qna.js'];
	    for (i in scripts) {
	        add_script(scripts[i]);
	    }


	    var socket = io.connect('http://' + document.domain + ':' + location.port);
			socket.on('connect', function () {
	        socket.emit('connected');
	    });


	    socket.on('message', function (data) {
	        if (data['type'] === 'summarize') {
	            update_request_rows(data)
	        } else if (data['type'] === 'QnA') {
	            update_qna_div(data);
	        }
	    });

	    async.forever(
	        function (next) {
	            if (request_array.length !== 0) {
	                socket.emit('request', request_array.shift());
	            }
	            setTimeout(function () {
	                next();
	            }, 500);
	        },
	        function (err) {
	            // if next is called with a value in its first parameter, it will appear
	            // in here as 'err', and execution will stop.
	        }
	    );

	</script>



{% endblock %}
